<%- include("partials/header.ejs") %>

<div class="mt-5 pt-5">
    <form  action="/symptom-based-detection" method="POST">
    <div class="row">
 <% var index = 0; %>
  <% data.forEach(function(disease){ %>
    <% index++  %>
      <div class="col-lg-3">
            <div class="form-check">
             <!-- <input type="checkbox" value=<%=disease%> class="form-check-input" name="disease[<%=index%>]" id=<%=disease%> /> -->
             <input type="checkbox" value=<%=disease%> class="form-check-input" name="disease[]" id=<%=disease%> /> 
             <label class="form-check-label" for="exampleCheck1"><%=disease%></label>
            </div>
      </div>
 
  <% })%>
</div>
<div class="text-center">
 <!-- <button class="btn-lg btn-primary mt-3 text-center" id="done">Selected</button> -->
<button class="btn-lg btn-primary mt-3 text-center" id="myBtn">SEND</button>
</div>

</form>
</div>

<%- include("partials/footer.ejs") %>
